@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --cor0: #011F26;
    --cor1: #173C40;
    --cor2: #406E73;
    --cor3: #7BA1A6;
    --cor4: #C9F2F2;

    --font-padrao: Times New Roman, Times, serif;
    --font-destaque: 'Pacifico', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
}

p {
    font-family: var(--font-padrao);
    font-size: 20px;
    line-height: 30px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor2));
    min-width: 250px;
    padding-top: 30px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.282);
    text-align: center;
}

header>h1 {
    font-family: var(--font-destaque);
    font-weight: lighter;
    font-size: 55px;
    margin-bottom: 10px;
}

header>p {
    margin: auto;
    max-width: 500px;
}

main {
    background-color: var(--cor2);
    text-align: justify;
    text-indent: 20px;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
}


article {
    background-color: var(--cor2);
}

article>h1 {
    text-align: center;
    font-family: var(--font-destaque);
    font-size: 30px;
    padding: 20px;
    font-weight: lighter;

}

article>p {
    margin: 20px;
    font-size: 1.3em;
}

article>h2 {
    background-image: linear-gradient(to right, var(--cor0), var(--cor2));
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.314);
}

img {
    width: 100%;
}

nav>a {
    padding: 1px;
    font-size: 18px;
    color: var(--cor0);
    text-decoration: none;
    



}

nav>a:hover {
    background-color: var(--cor4);
    transition-duration: 1s;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);

}

aside>ul {
    list-style-position: inside;
    color: white;
}

aside>h3 {
    text-align: center;
    font-family: var(--font-padrao);
    color: white;
}

aside>p {
    color: white;
}

footer {
    text-align: center;
    background-color: var(--cor0);
    padding: 5px;
    color: white;

}

footer>p {
    font-size: 15px;
}
.ancora {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    padding: 2px 6px;
}
.ancora:hover {
    background-color: white;
    transition-duration: 1s;
}
strong {
    font-weight: bolder;
}