@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

p {
    font-size: 2em;
    line-height: 50px;
}

h2 {
    font-size: 2em;
    font-weight: bolder;
    line-height: 50px;
}

body{
    background-color: rgba(137, 43, 226, 0.551);
    min-height: 98vh;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
    
}

header {
    
    color: black;
    text-align: center;
}
header > h1 {
   margin-top: 50px;
   font-size: 2.5em;
}
header > p {
    margin-bottom: 50px;
}

section{
    padding: 2em;
}
section.normal {
    background-color: white;
    
}

section.diferente {
    color: rgba(255, 255, 255, 0.838);
    background: black url(imagem/fullmetal.jpg) top right no-repeat fixed ;
    background-size: cover;
    box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.623);
}
.diferente > p {
    border: rgba(0, 0, 0, 0.467) solid 1px;
    display: inline-block;
    max-width: 400px;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.442);
}
#one {
    background: black url(imagem/CAPA.jpg) top right no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.681);
}
footer {
    text-align: center;
    font-size: 10px;
}